<div class="main-header">
    <div class="center m-2">
        <h5 style="font-weight: 600;">Mission Go Japan</h5>
    </div>

    <div class="menu-toggle" (click)="toggelSidebar()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div style="margin: auto"></div>

    <div class="header-part-right">
        <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
            <i class="i-Administrator text-32" id="userDropdown" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
                <div class="dropdown-header">
                    <i class="i-Lock-User mr-1"></i> {{helper.formatLeadingUpperCase(user.first_name)}}
                    {{helper.formatLeadingUpperCase(user.last_name)}}
                </div>
                <button class="dropdown-item" (click)="changePassword()"><i class="i-Key mr-1"></i> Change
                    Password</button>
                <button class="dropdown-item" (click)="signout()">Sign out</button>
            </div>
        </div>

    </div>

</div>