<div class="modal-content">
    <div class="modal-header">
        <h4> Change Password </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="text" name="password" [(ngModel)]="user.password" required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" type="text" name="confirm Password" [(ngModel)]="user.confirm_password"
                        required>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-rounded" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary btn-rounded" (click)="change()">Change Password</button>
    </div>
</div>