.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover{
    background-color: red !important;
}

.incard-dropdown.dropdown-menu{
    right: 10px !important;
    transform: translate(20px, 25px) !important;
}