<div class="">
    <div class="breadcrumb">
        <h1>Students</h1>
        <ul>
            <li>View, Manage, Remove Students</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input id="search" placeholder="Search by Id, Name, Email or School Id" [formControl]="searchControl"
                    class="form-control form-control-rounded" type="text">
            </div>
        </div>
        <!-- <div class="col-md-6">
            <button class="btn btn-primary float-right" [routerLink]="['/students/add_new_student']">Add
                Student</button>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card  o-hidden">
                <ngx-datatable style="height: 60vh; box-shadow: none"
                    class="material ngx-datatable striped fixed-header fixed-row virtualized" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="60" [rows]="filteredStudents" [columnMode]="'force'"
                    [scrollbarV]="true">
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            Name
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <span>{{row.first_name}} {{row.last_name}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="scholarship">
                        <ng-template ngx-datatable-header-template>
                            Scholarship
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="email">
                        <ng-template ngx-datatable-header-template>
                            Email
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="school">
                        <ng-template ngx-datatable-header-template>
                            School ID
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="id" [maxWidth]="90">
                        <ng-template ngx-datatable-header-template>

                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <i class="i-Eye text-24" (click)="viewStudent(value)"></i>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>