<div class="modal-content">
    <div class="modal-header">
        <h4> Add Company </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form #companyForm="ngForm">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Company Id</label>
                        <input class="form-control" type="text" name="id" [(ngModel)]="company.id" maxlength="6"
                            required>
                        <small>*First 3 characters must be alphabets and next 3 must be numeric (for ex: DNP001 for Dai
                            Nippon, or IGC011)</small>
                    </div>
                    <div class="form-group">
                        <label>Company Name</label>
                        <input class="form-control" type="text" name="name" [(ngModel)]="company.name" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input class="form-control" type="text" name="address" [(ngModel)]="company.address" required>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input class="form-control" type="text" name="city" [(ngModel)]="company.city" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-rounded" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary btn-rounded" (click)="add()" [disabled]="!companyForm.form.valid">Add
            Company</button>
    </div>
</div>