<div class="container">
    <div class="breadcrumb">
        <h1>Dashboard</h1>
        <ul>
            <li>Version 2.0.1</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-MaleFemale"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Total Students</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{stats.students}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-University1"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Total Schools</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{stats.schools}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ICON BG -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Building"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Total Companies</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{stats.companies}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Monitor-5"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Interview Ongoing</p>
                        <p class="text-primary text-24 line-height-1 mb-2">0</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>