<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Student</h4>
</div>
<div class="modal-body">
    <label for="dateOfBirth">Are you sure you want to delete this student?</label>
    <label for="dateOfBirth">Deleting is a permanent action that cannot be reversed.</label>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="delete()">Delete</button>
</div>