<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card card-upgrade">
        <div class="card-header">
          <p class="category">List of all the students.</p>
          <h5 class="card-title">Students</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Gender
                </th>
                <th>
                  School
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>

              <tbody>
                <tr>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <div>
                      <span class="action-icon">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>