<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute nav-background">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <div class="justify-content-end">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary mr-2" id="dropdownBasic1" ngbDropdownToggle><i
                        class="fas fa-user"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem> <i class="fa fa-user" style="margin-right: 10px;"></i> My
                        Profile</button>
                    <button ngbDropdownItem> <i class="fa fa-power-off" style="margin-right: 10px;"></i>
                        Logout</button>
                </div>
            </div>
        </div>

    </div>
</nav>