.card.blueCard{
    background: -webkit-linear-gradient(to bottom right, #4c40d3bf ,#251b9b );
    background: -o-linear-gradient(to bottom right, #4c40d3bf ,#251b9b );
    background: -moz-linear-gradient(to bottom right, #4c40d3bf ,#251b9b );
    background: linear-gradient(to bottom right, #4c40d3bf ,#251b9b );

    border: none;

    p{
        color: white;
    }
}


.card.lightblueCard{

    background: -webkit-linear-gradient(to bottom right, #3499fed6,#2982cd);
    background: -o-linear-gradient(to bottom right, #3499fed6,#2982cd);
    background: -moz-linear-gradient(to bottom right, #3499fed6,#2982cd);
    background: linear-gradient(to bottom right, #3499fed6,#2982cd);

    border: none;

    p{
        color: white;
    }
}


.card.greenCard{

    background: -webkit-linear-gradient(to bottom right,#55c993ce ,#0a7442 );
    background: -o-linear-gradient(to bottom right, #55c993ce ,#0a7442 );
    background: -moz-linear-gradient(to bottom right, #55c993ce ,#0a7442 );
    background: linear-gradient(to bottom right, #55c993ce ,#0a7442 );

    border: none;

    p{
        color: white;
    }
}

.card.redCard{

    background: -webkit-linear-gradient(to bottom right, #ee7274d7 ,#d93d3d );
    background: -o-linear-gradient(to bottom right, #ee7274d7 ,#d93d3d );
    background: -moz-linear-gradient(to bottom right, #ee7274d7 ,#d93d3d );
    background: linear-gradient(to bottom right, #ee7274d7 ,#d93d3d );

    border: none;

    p{
        color: white;
    }
}