<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-3">
            <div class="card blueCard">
                <div class="card-body">
                    <p>Loans Approved</p>
                    <p>52</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card lightblueCard">
                <div class="card-body">
                    <p>Active Loans</p>
                    <p>52</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card redCard">
                <div class="card-body">
                    <p>In Process Loans</p>
                    <p>52</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card greenCard">
                <div class="card-body">
                    <p>Completed</p>
                    <p>52</p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="card">
        <div class="card-body">

        </div>
    </div>
</div>